@page "/about-us"
@model AboutModel
@{
    ViewData["Title"] = "Since 1916";
    ViewData["Description"] = "Baird's Dry Cleaners Since 1916. Baird's Dry Cleaners began business in 1916 and has been Boise's leading dry cleaners for the past 100...";
    ViewData["Keywords"] = "dry cleaners, leathers, suede, coats, boise, idaho, meridian, eagle";
    ViewData["CanonicalURL"] = "https://bairdsdrycleaners.com/about-us";
}
<div class="section" id="about">
    <div class="inner">
        <div class="content-wide">
            <div class="flex-container">
                <div class="half-left">
                    <h2 class="large">
                        Dry Cleaning Services <span>in Boise for over 100 Years</span>
                    </h2>
                    <div class="text-container">
                        <p>
                            Our business depends on keeping your clothing and specialty items looking their best. We serve over 3000 happy customers each year. With 5 locations in Boise and Meridian, we are here to provide you with outstanding customer service and dry cleaning services of the highest quality that you can count on time and time again. We have decades of experience and knowledge so we can make sure your garments are cared for in the best way possible.
                        </p>
                    </div>
                </div>
                <div class="half-right">
                    <img class="about" src="/images/about.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--Slider-->
<div class="section" id="section1">
    <div class="slide" id="about-1">
        <img class="about" src="/images/about-1.jpg" alt="">
    </div>
@*     <div class="slide">
        <div class="inner">
            <div class="content-wide">
                <div class="flex-container">
                    <div class="half-left">
                        <h2 class="large">
                            Marcie Hammer
                        </h2>
                        <p class="centered">
                            Chief Operating Officer
                        </p>
                    </div>
                    <div class="half-right">
                        <span><img class="bio" src="/images/marcie.jpg" alt=""></span>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
    <div class="slide">
        <div class="inner">
            <div class="content-wide">
                <div class="flex-container">
                    <div class="half-left">
                        <h2 class="large">
                            Brandie Adams
                        </h2>
                        <p class="centered">
                            Chief Operations Officer
                        </p>
                    </div>
                    <div class="half-right">
                        <span><img class="bio" src="/images/brandie.jpg" alt=""></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide" id="location-1">
        <div class="inner">
            <div class="content-wide">
                <div class="flex-container">
                    <div class="half-left">
                        <h2 class="large">
                            Fairview
                        </h2>
                        <span><img src="/images/bairds-fairview.jpg" alt="Bairds on Fairview"></span>
                        <div class="text-container">
                            <p>
                                5702 W Fairview Ave
                                <br>
                                Boise, ID 83706
                                <br>
                                (208) 377-1550
                            </p>
                            <p>
                                Map and Directions
                            </p>
                        </div>
                    </div>
                    <div class="half-right">
                        <span><img src="/images/amber.jpg">Amber Vanzandt <br> Store Manager</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide" id="location-2">
        <div class="inner">
            <div class="content-wide">
                <div class="flex-container">
                    <div class="half-left">
                        <h2 class="large">
                            W State St
                        </h2>
                        <span><img src="/images/w-state.jpg" alt="Bairds on W State St"></span>
                        <div class="text-container">
                            <p>
                                1776 W State St
                                <br>
                                Boise, ID 83702
                                <br>
                                (208) 342-4504
                            </p>
                            <p>
                                Map and Directions
                            </p>
                        </div>
                    </div>
                    <div class="half-right">
                        <span><img src="/images/sharon.jpg">Sharon Grover <br> Store Manager</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*     <div class="slide" id="location-3">
        <div class="inner">
            <div class="content-wide">
                <div class="flex-container">
                    <div class="half-left">
                        <h2 class="large">
                            Broadway
                        </h2>
                        <span><img src="/images/bairds-broadway.jpg" alt="Bairds on Broadway"></span>
                        <div class="text-container">
                            <p>
                                2202 Broadway Ave
                                <br>
                                Boise, ID 83706
                                <br>
                                (208) 345-3020
                            </p>
                            <p>
                                Map and Directions
                            </p>
                        </div>
                    </div>
                    <div class="half-right">
                        <span><img src="/images/karen.jpg">Karen Ridenour <br> Store Manager</span>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
    <div class="slide" id="location-4">
        <div class="inner">
            <div class="content-wide">
                <div class="flex-container">
                    <div class="half-left">
                        <h2 class="large">
                            Chinden
                        </h2>
                        <span><img src="/images/bairds-chinden.jpg" alt="Bairds on Chinden"></span>
                        <div class="text-container">
                            <p>
                                13371 Chinden Blvd
                                <br>
                                Boise, ID 83713
                                <br>
                                (208) 938-2583
                            </p>
                            <p>
                                Map and Directions
                            </p>
                        </div>
                    </div>
                    <div class="half-right">
                        <span><img src="/images/raymond.jpg">Raymond Poulton <br> Store Manager</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*     <div class="slide" id="location-5">
        <div class="inner">
            <div class="content-wide">
                <div class="flex-container">
                    <div class="half-left">
                        <h2 class="large">
                            Overland
                        </h2>
                        <span><img src="/images/bairds-overland.jpg" alt="Bairds on Overland"></span>
                        <div class="text-container">
                            <p>
                                2941 E Overland Rd
                                <br>
                                Meridian, ID 83642
                                <br>
                                (208 )887-6337
                            </p>
                            <p>
                                Map and Directions
                            </p>
                        </div>
                    </div>
                    <div class="half-right">
                        <span><img src="/images/tina.jpg">Tina Granger <br> Store Manager</span>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
@*     <div class="slide" id="location-6">
        <div class="inner">
            <div class="content-wide">
                <div class="flex-container">
                    <div class="half-left">
                        <h2 class="large">
                            Warm Springs
                        </h2>
                        <span><img src="/images/broadway-warm-springs-location.jpg" alt="Bairds on Broadway and Warm Springs"></span>
                        <div class="text-container">
                            <p>
                                119 S Broadway Ave
                                <br>
                                Boise, ID 83702
                                <br>
                                (208) 338-8963
                            </p>
                            <p>
                                Map and Directions
                            </p>
                        </div>
                    </div>
                    <div class="half-right">
                        <span><img src="/images/illeah.jpg">Illeah Young <br> Store Manager</span>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
</div>
<!--/Slider-->
<div class="section pickup">
    <aside>
        <div class="inner">
            <div class="content-contained left">
                <h2 class="large">
                    FREE Pickup <span>& Delivery</span>
                </h2>
                <div class="text-container">
                    <p>
                        At Baird's, we offer executive shirt laundry service, professional pressing, alterations and repairs, on-site suede and leather cleaning, and wedding gown cleaning and preservation. We also offer superior cleaning of your household items like bed spreads, comforters, tablecloths, and napkins.
                    </p>
                    <p>
                        We want to make your life easier, which is why we have five convenient locations across Boise and Meridian. Part of making your life easier means we offer FREE pickup and delivery twice a week to your home or office. We can also provide same-day dry cleaning and laundry service upon request, with no extra charge.
                    </p>
                    <p>
                        We appreciate our customers and strive to give a little extra love in all that we do.
                    </p>
                </div>
            </div>
        </div>
    </aside>
</div>
<div id="testimonials" class="section">
    <h2 class="large">
        Testimonials
    </h2>
    <div class="slide fp-auto-height-responsive">
        <div class="inner">
            <div class="content-wide">
                <div class="testimonial">
                    <p>
                        These guys have great customer service and take care of your clothing like it's their own. <span class="name"><span></span> Billy G.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="slide fp-auto-height-responsive">
        <div class="inner">
            <div class="content-wide">
                <div class="testimonial">
                    <p>
                        They cleaned a very special stuffed animal for my stepson and they did it same day so he wouldn't have be without it for very long. Highly recommend Baird's to anyone who needs extra special care for priceless items. <span class="name"><span></span> Russel W.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="slide fp-auto-height-responsive">
        <div class="inner">
            <div class="content-wide">
                <div class="testimonial">
                    <p>
                        Completed the cleaning on the day the clerk stated. The friendly service is sure nice. You don't find this level of customer service very often. <span class="name"><span></span> Brian A.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="slide fp-auto-height-responsive">
        <div class="inner">
            <div class="content-wide">
                <div class="testimonial">
                    <p>
                        Ready when they said it would be. Called my attention to a special trim that could be difficult to work around, but it came out beautifully! <span class="name"><span></span> Helen M.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="slide fp-auto-height-responsive">
        <div class="inner">
            <div class="content-wide">
                <div class="testimonial">
                    <p>
                        I've had nothing but good experiences with them. So easy to put my stuff out to pick up and then it's delivered right on time a few days later. Makes wearing dress clothes and suits everyday much easier. <span class="name"><span></span> Ashton K.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_LocationsPartial" />
