@page "/alterations"
@model BA.BairdsDryCleaners.Pages.AlterationsModel
@{
    ViewData["Title"] = "Alterations";
    ViewData["Description"] = "Baird's Dry Cleaners has expert tailors to handle a variety of minor repairs and major alterations. Are the sleeves of your favorite shirt...";
    ViewData["Keywords"] = "dry cleaners, leathers, suede, coats, boise, idaho, meridian, eagle";
    ViewData["CanonicalURL"] = "https://bairdsdrycleaners.com/alterations";
}
<div class="section alterations">
    <div class="inner">
        <div id="border">
            <h1>
                Alterations
            </h1>
            <p>
                Baird's Dry Cleaners has expert tailors to handle a variety of minor repairs and major alterations. Are the sleeves of your favorite shirt a little too long? Is that new skirt a little too loose in the waist? From broken zippers to torn seams, we handle it all!
            </p>
        </div>
    </div>
</div>
<div class="section white" id="alterations-1">
    <div class="inner">
        <div class="content-contained">
            <div>
                <div>
                    <h2 class="large">
                        Alteration Services
                    </h2>
                    <div class="text-container">
                        <p>
                            Here are just a few examples of what we can repair or alter:
                        </p>
                        <ul>
                            <li>
                                Shorten Sleeves on Jackets, Blouses, and Shirts
                            </li>
                            <li>
                                Hem Pants, Skirts, Dresses, and Outerwear
                            </li>
                            <li>
                                Adjust Shoulders on a Coat or Jacket
                            </li>
                            <li>
                                Take In or Let Out Waist
                            </li>
                            <li>
                                Replace Zippers
                            </li>
                            <li>
                                Replace Buttons
                            </li>
                            <li>
                                Stitch Holes
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_LocationsPartial" />
