@page "/contact-us"
@using reCAPTCHA.AspNetCore
@using reCAPTCHA.AspNetCore.Versions;
@using Microsoft.Extensions.Options
@inject IOptions<RecaptchaSettings> RecaptchaSettings
@model ContactModel
@{
    ViewData["Title"] = "Contact";
    ViewData["Description"] = "Since 1916 Baird's Dry Cleaners has provided dry cleaning services for Boise, Idaho residents. From hats to luxurious coats, we can handle...";
    ViewData["Keywords"] = "dry cleaners, leathers, suede, coats, boise, idaho, meridian, eagle";
    ViewData["CanonicalURL"] = "https://bairdsdrycleaners.com/pick-up-delivery-form";
}
<div class="section contact">
    <div class="inner">
        <div>
            <h1 class="large">
                Contact
            </h1>
            <p>
                Since 1916 Baird's Dry Cleaners has provided dry cleaning services for Boise, Idaho residents. From hats to luxurious coats, we can handle all of your dry cleaning needs.
            </p>
            <h2>
                Hours
            </h2>
            <p>
                Our Hours are <strong>7:30am - 6:30pm Monday - Friday; 9am-3:00pm Saturday; Closed Sunday</strong>
            </p>
            @using (@Html.BeginForm(null, null, FormMethod.Post, new { id = "main", @class = "contact" }))
            {
                @Html.ValidationSummary(true);
                <div>
                    <input asp-for="contactUsModel.Name" type="text" data-val-required="Name is a Required Field" placeholder="Name" />
                    <span asp-validation-for="contactUsModel.Email"></span>
                    <input asp-for="contactUsModel.Email" type="text" data-val-required="Email is a Required Field" placeholder="Email" />
                    <span asp-validation-for="contactUsModel.Email"></span>
                    <input asp-for="contactUsModel.Phone" type="text" data-val-required="Phone is a Required Field" placeholder="Phone" />
                    <span asp-validation-for="contactUsModel.Phone"></span>
                </div>
                <div>
                    <textarea asp-for="contactUsModel.Comments"></textarea>
                    <span asp-validation-for="contactUsModel.Comments"></span>
                </div>
                <div>
                    @(Html.Recaptcha<RecaptchaV2Checkbox>(RecaptchaSettings.Value))
                    <input type="hidden" name="g-recaptcha-response" value=""/>
                    <input id="recaptcha" type="submit" value="Submit">
                </div>
            }
        </div>
    </div>
</div>
<partial name="_LocationsPartial" />
