@page "/dry-cleaning"
@model BA.BairdsDryCleaners.Pages.DryCleaningModel
@{
    ViewData["Title"] = "Dry Cleaning";
    ViewData["Description"] = "Dry Cleaning | Full Service Laundry. Our business depends on keeping your clothing and specialty items looking their best. We serve over 3000...";
    ViewData["Keywords"] = "dry cleaning, dry cleaners, stains, boise, idaho, meridian, eagle";
    ViewData["CanonicalURL"] = "https://bairdsdrycleaners.com/dry-cleaning";
}
<div class="section dry-cleaning">
    <div class="inner">
        <div id="border">
            <div class="background">
                <h1 class="large">
                    Dry Cleaning | Full Service Laundry
                </h1>
                <p>
                    Our business depends on keeping your clothing and specialty items looking their best. We serve over 3000 happy customers each year. With 6 locations in Boise and Meridian, we are here to provide you with outstanding customer service and dry cleaning services of the highest quality that you can count on time and time again. We have decades of experience and knowledge so we can make sure your garments are cared for in the best way possible.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section" id="section1">
    <div class="slide" id="fabric-1">
        <div class="inner">
            <div class="content-contained">
                <h2 class="large">
                    What Is Dry Cleaning?
                </h2>
                <p>
                    Despite the name ‘Dry Cleaning’, it is not an entirely dry process. During this procedure, garments are soaked in a liquid solvent.  There is no water used, which is why this process is called ‘dry’.  In addition, there are special stain-removing chemicals that are also used, when necessary. This cleaning method has evolved over the decades into the effective techniques we use today.
                </p>
                <p>
                    This is a multi-step process which includes an inspection step, the treating of any stains with specialty stain-removing liquids, the actual dry cleaning process, and followed up by any appropriate finishing touches.
                </p>
                <p>
                    Dry cleaning preserves your clothing for longer, since it is less abrasive than traditional wet cleaning. It also allows for larger items that you cannot clean at home.  This process also allows for stain and odor removal with less risk than washing at home.
                </p>
            </div>
        </div>
    </div>
    <div class="slide" id="fabric-3">
        <div class="inner">
            <div class="content-contained left">
                <h2 class="large">
                    Doesn't Dry Cleaning Pricing Discriminate Against Women?
                </h2>
                <p>
                    We strive to charge the same for all garments of a similar type. However, customer care associates are instructed to check closely for any detail that may require specific handling and to charge accordingly.
                </p>
                <p>
                    Prices are based on our costs of doing business, without regard to gender, race, color, religion, marital status, age, national origin, or sexual orientation of the person who owns the garment.
                </p>
            </div>
        </div>
    </div>
    <div class="slide" id="fabric-4">
        <div class="inner">
            <div class="content-contained right">
                <h2 class="large">
                    Can All Stains be Removed?
                </h2>
                <p>
                    No, they can't. Successful stain removal depends largely on the nature of the stain, the type of fabric, the colorfastness of the dye, and how long the stain has been allowed to sit. Some fabrics and dyes simply will not withstand the use of cleaning or stain removal agents. For example, materials like ink or dried paint can be difficult, if not impossible to remove.
                </p>
                <p>
                    No one likes when they spill something on, or otherwise stain their clothing. Regardless if it's brand new or a well-worn, treasured garment, we understand. Our experienced professionals will put forth our best efforts to return your items to you, stain free.
                </p>
            </div>
        </div>
    </div>
    <div class="slide" id="fabric-5">
        <div class="inner">
            <div class="content-contained">
                <h2 class="large">
                    Are Fabric Care Labels Accurate?
                </h2>
                <p>
                    No, not necessarily. Most manufacturers never test the garments before the required care label is attached. Understanding and following care label instructions is almost an art. It requires a combination of knowledge of care symbols, instructions, and practical hands-on experience.
                </p>
                <p>
                    The Federal Trade Commission's (FTC) Care Label Rule does not require testing before care instructions are assigned to the garment, only that a manufacturer has a ‘reasonable basis' for their care instructions. Additionally, they are not required to provide instruction for the best care procedure, but simply one that works. Sometimes it's relevant and sometimes it isn't what's recommended. We always attempt to alert our customers to any potential misinformation beforehand.
                </p>
            </div>
        </div>
    </div>
    <div class="slide" id="fabric-6">
        <div class="inner">
            <div class="content-contained right">
                <h2 class="large">
                    What Happens if My Item is Damaged After Dry Cleaning?
                </h2>
                <p>
                    We strive for error free operations, but let's face it, mistakes can happen. When we're wrong, we will make it right. Statistics from the International Textile Analysis Laboratory (ITAL) demonstrate that the majority of problems are the result of improper care instructions, or damage that is not easily visible. We sometimes rely upon ITAL to objectively determine responsibility.
                </p>
            </div>
        </div>
    </div>
    <div class="slide white" id="fabric-2">
        <div class="inner">
            <div class="content-contained">
                <h2 class="large">
                    Tips and Tricks for Stains
                </h2>
                <p>
                    Spots and stains allowed to remain without treatment will gradually oxidize, set, and most likely become permanent. Stains can cause deterioration of fabric, cause friction, attract pests, and otherwise permanently degrade the fabric.
                </p>
                <p>
                    Do not iron stained or soiled clothes trying to wear it a little longer. Ironing stained clothes will set stains in, can damage the fibers, and drive the stain deeper into the fabric.
                </p>
                <p>
                    Never put away a garment with a stain on it. Stains contain sugar and even in very small amounts, can attract insects who feast on these fibers and cause holes. Also, oxidation will occur, which will cause discoloration.
                </p>
                <p>
                    Dry cleaning your garments will remove perspiration and body oils. This can prevent them from degrading the fabric, leaving discoloration and odors.
                </p>
            </div>
        </div>
    </div>
</div>
<partial name="_LocationsPartial" />
