@page "/fold-fluff-service"
@model BA.BairdsDryCleaners.Pages.FoldFluffModel
@{
    ViewData["Title"] = "Fold and Fluff Services";
    ViewData["Description"] = "Personalized laundry services with free pick up, delivery, and fold and fluff services!";
    ViewData["Keywords"] = "dry cleaners, cleaning, boise, fold and fluff, idaho, eagle, meridian";
    ViewData["CanonicalURL"] = "https://bairdsdrycleaners.com/";
}
<div class="section fold-fluff">
    <div class="inner">
        <div id="border">
            <h1 class="large align-center">
                Now Offering Fold &amp; Fluff Services!
            </h1>
            <p class="align-center">
                Personal laundry service with free pick up and delivery
                <br />
                Priced by the lb 3.25/lb
                <br />
                <strong>Sanitizing Wash / Dry / Fold</strong>
                <br />
                $3.25/lb 
                <br />
                2 Day Turn-Around
                <br />
                5 lb minimum
                <br />
                10 lb for pick-up/delivery
                <br />
                Fluff & fold service includes clothing and towels only
            </p>
            <h2 class="align-center">
                Hygienic Cleaners
            </h2>
            <p class="align-center">
                We use DEO-Plus, a hygienic soap with a antibacerticidal and virucidal effect that is still gentle on your textiles. Our company utilizes the RKI bactericidal and virucidal washing standard, which  reliably deactivates the corona virus.
            </p>
        </div>
    </div>
</div>
<div class="section">
    <div class="inner">
        <video src="/videos/wash-n-fold.mp4" controls style="width:100%;"></video>
    </div>
</div>