@page
@model IndexModel

@section header {
    <title>Bairds Dry Cleaners | Boise &amp; Meridian, Idaho</title>
    <meta name="description" content="Boise's best dry cleaning service with over 100 years in the Treasure Valley">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="business.business" />
    <meta property="og:url" content="https://bairdsdrycleaners.com" />
    <meta property="og:title" content="Bairds Dry Cleaners | Boise &amp; Meridian, Idaho" />
    <meta property="og:description" content="Boise's best dry cleaning service with over 100 years in the Treasure Valley">
    <meta property="og:image" content="https://bairdsdrycleaners.com/style/images/logo.png" />
    <meta property="business:contact_data:street_address" content="5702 W Fairview Ave" />
    <meta property="business:contact_data:locality" content="Boise" />
    <meta property="business:contact_data:state" content="ID" />
    <meta property="business:contact_data:postal_code" content="83706" />
    <meta property="business:contact_data:country_name" content="United States" />
    <meta property="place:location:latitude" content="43.619638" />
    <meta property="place:location:longitude" content="-116.252727" />
    <link rel="canonical" href="https://bairdsdrycleaners.com/" />
    <script type="application/ld+json">
        {"@@context":"http://schema.org","@@graph":[{"@@context":"http://schema.org","@@type":"WebSite","url":"https://www.bairdsdrycleaners.com/","name":"Baird's Dry Cleaners"},{"@@type":"DryCleaningOrLaundry","@@id":"https://www.bairdsdrycleaners.com","name":"Baird's Dry Cleaners","description":"Offering professional dry cleaning services through Boise, Meridian, Eagle, and Kuna.","image":"http://www.bairdsdrycleaners.com/images/bairds-fairview.jpg","url":"https://www.bairdsdrycleaners.com","logo":"https://www.bairdsdrycleaners.com/style/images/bairds-dry-cleaners-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check","priceRange":"$$-$$$","address":[{"@@type":"PostalAddress","streetAddress":"5702 W Fairview Ave","addressLocality":"Boise","addressRegion":"ID","postalCode":"83706"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.619365","longitude":"-116.252812"}],"telephone":"+12083771550","hasMap":{"@@type":"Map","url":"https://goo.gl/maps/6xYCZtvAgv72"},"sameAs":["https://www.facebook.com/BairdsDryCleanersBoise/","https://twitter.com/bairdsboise","https://plus.google.com/+BairdsdrycleanersFairview"]},{"@@type":"DryCleaningOrLaundry","@@id":"https://www.bairdsdrycleaners.com","name":"Baird's Dry Cleaners","description":"Offering professional dry cleaning services through Boise, Meridian, Eagle, and Kuna.","image":"https://www.bairdsdrycleaners.com/images/bairds-broadway.jpg","url":"https://www.bairdsdrycleaners.com","logo":"https://www.bairdsdrycleaners.com/style/images/bairds-dry-cleaners-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check","priceRange":"$$-$$$","address":[{"@@type":"PostalAddress","streetAddress":" 2202 S Broadway Ave","addressLocality":"Boise","addressRegion":"ID","postalCode":"83706"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.619365","longitude":"-116.252812"}],"telephone":"+12083453020","hasMap":{"@@type":"Map","url":"https://goo.gl/maps/H3ooTFwrCcq"},"sameAs":["https://www.facebook.com/BairdsDryCleanersBoise/","https://twitter.com/bairdsboise","https://plus.google.com/+BairdsdrycleanersFairview"]},{"@@type":"DryCleaningOrLaundry","@@id":"https://www.bairdsdrycleaners.com","name":"Baird's Dry Cleaners","description":"Offering professional dry cleaning services through Boise, Meridian, Eagle, and Kuna.","image":"https://www.bairdsdrycleaners.com/images/bairds-chinden.jpg","url":"https://www.bairdsdrycleaners.com","logo":"https://www.bairdsdrycleaners.com/style/images/bairds-dry-cleaners-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check","priceRange":"$$-$$$","address":[{"@@type":"PostalAddress","streetAddress":"13371 Chinden Blvd","addressLocality":"Boise","addressRegion":"ID","postalCode":"83713"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.662598","longitude":"-116.351113"}],"telephone":"+12089382583",""hasMap":{"@@type":"Map","url":"https://goo.gl/maps/81qqKfroFY12"},"sameAs":["https://www.facebook.com/BairdsDryCleanersBoise/","https://twitter.com/bairdsboise","https://plus.google.com/+BairdsdrycleanersFairview"]},{"@@type":"DryCleaningOrLaundry","@@id":"https://www.bairdsdrycleaners.com","name":"Baird's Dry Cleaners","description":"Offering professional dry cleaning services through Boise, Meridian, Eagle, and Kuna.","image":"https://www.bairdsdrycleaners.com/images/bairds-overland.jpg","url":"https://www.bairdsdrycleaners.com","logo":"https://www.bairdsdrycleaners.com/style/images/bairds-dry-cleaners-logo.png","paymentAccepted":"Cash, Credit Card, Debit Card, Check","priceRange":"$$-$$$","address":[{"@@type":"PostalAddress","streetAddress":"2941 E Overland Ave","addressLocality":"Meridian","addressRegion":"ID","postalCode":"83642"}],"geo":[{"@@type":"GeoCoordinates","latitude":"43.589854","longitude":"-116.357282"}],"telephone":"+12088876337","hasMap":{"@@type":"Map","url":"https://goo.gl/maps/TJsfAMTS2Z62"},"sameAs":["https://www.facebook.com/BairdsDryCleanersBoise/","https://twitter.com/bairdsboise","https://plus.google.com/+BairdsdrycleanersFairview"]}]}
    </script>
}
<div id="home-top-section" class="section">
    <div class="inner">
        <div class="content-contained">
            <h2 class="large">
                Baird's Dry Cleaners
            </h2>
            <div class="text-container">
                <p>
                    Bairds Dry Cleaners started business in 1916 and has earned the reputation for being the area's finest dry cleaners and produces the highest quality dry cleaning and superior customer service. With 5 locations to serve you, we offer the largest home or office pickup and delivery service at no extra charge.
                </p>
            </div>
        </div>
        <div id="why-bairds">
            <div>
                <div>
                    <a href="#locations"><span>3</span> <span>Locations in the Treasure Valley</span></a>
                </div>
                <div>
                    <a href="/about-us"><span>100+</span> <span>Years in Business</span></a>
                </div>
                <div>
                    <a href="/dry-cleaning"><span>3000+</span> <span>Happy Customers Every Year</span></a>
                </div>
                <div>
                    <a href="/pick-up-delivery-form"><span>Free</span> <span>Pickup and Delivery</span></a>
                </div>
                <div>
                    <a href="/alterations"><span>780+</span> <span>Buttons Replaced</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Slider-->
<div class="section" id="section1">
    <div class="slide" id="home-1">
        <div class="inner">
            <div class="content-contained">
                <h2 class="large">
                    Highest Quality Dry Cleaning
                </h2>
                <p>
                    Protect your favorite clothing with the highest quality dry cleaning from Baird's. We use modern techniques and years of experience to ensure your items are cared for and thoroughly cleaned. We strive to provide you with excellence of service that you can count on.
                </p>
            </div>
        </div>
    </div>
    <div class="slide" id="home-2">
        <div class="inner">
            <div class="content-contained">
                <h2 class="large shadow">
                    Executive Shirt Laundry Service
                </h2>
                <p class="shadow">
                    With Baird's Executive Shirt Laundry Service, your shirts, pants, and skirts will not only be cleaned, but properly folded and hung. Let us provide professional, expert dry cleaning, while you go throughout your day with confidence. Look your best with crisp, clean clothing.
                </p>
            </div>
        </div>
    </div>
    <div class="slide" id="home-3">
        <div class="inner">
            <div class="content-contained">
                <h2 class="large">
                    Professional Pressing
                </h2>
                <p>
                    It is an absolute necessity to make sure you're putting your best foot forward when going to an interview, stepping into the boardroom, or anywhere else you need to look immaculate. Baird's professional pressing isn't just about removing wrinkles, its about helping you look your best.
                </p>
            </div>
        </div>
    </div>
    <div class="slide" id="home-8">
        <div class="inner">
            <div class="content-contained">
                <h2 class="large">
                    Comforter and Linen Service
                </h2>
                <p>
                    Baird's uses modern cleaning techniques and cleaners to make sure your linens and bedding are properly and thoroughly cleaned. Regular dry cleaning of your linens and bedding will help keep them fresh and stain free. Some comforters & linens can't be washed by common methods, like your clothing can.
                </p>
            </div>
        </div>
    </div>
    <div class="slide" id="home-4">
        <div class="inner">
            <div class="content-contained">
                <h2 class="large">
                    Alterations and Repairs
                </h2>
                <p>
                    Baird's will alter and repair your clothing to bring new life into old favorites, or make that new clothing fit perfectly, so you can look and feel your best. It can be disheartening when your favorite article of clothing no longer fits. Likewise, finding the perfect new garment that just doesn't quite fit. It could be due to short sleeves, a torn seam, a broken zipper, or missing buttons. We're here to help.
                </p>
            </div>
        </div>
    </div>
    <div class="slide" id="home-5">
        <div class="inner">
            <div class="content-contained">
                <h2 class="large">
                    Leathers & Suedes
                </h2>
                <p>
                    At Baird's, we know that your leathers & suedes items must be cared for using specific and unique methods, otherwise they can be ruined. Leathers & suedes are common, but delicate materials used to make our most beloved garments. Our dry cleaning experts have the specialized skills, training, and experience necessary to handle these delicate items.
                </p>
            </div>
        </div>
    </div>
    <div class="slide black" id="home-6">
        <div class="inner">
            <div class="content-contained">
                <h2 class="large">
                    Wedding Gown Cleaning and Preservation
                </h2>
                <p>
                    At Baird's, we're trained in the latest methods of carefully cleaning all types of wedding gowns. Whether it's preparing for the big day, or preserving your gown from your special day, it can be a good idea to have your wedding gown professionally cleaned and pressed. Afterwards, preserve your gown with our MuseumStyle &trade; box, which protects against oxidation, or yellowing. It will look new and vibrant for years to come!
                </p>
            </div>
        </div>
    </div>
</div>
<!--/Slider-->
@*<div class="section pickup">
    <aside>
        <div class="inner">
            <div class="content-contained left">
                <h2 class="large">
                    FREE Pickup <span>& Delivery</span>
                </h2>
                <div class="text-container">
                    <p>
                        At Baird's, we offer executive shirt laundry service, professional pressing, alterations and repairs, on-site suede and leather cleaning, and wedding gown cleaning and preservation. We also offer superior cleaning of your household items like bed spreads, comforters, tablecloths, and napkins.
                    </p>
                    <p>
                        We want to make your life easier, which is why we have five convenient locations across Boise and Meridian. Part of making your life easier means we offer FREE pickup and delivery twice a week to your home or office. We can also provide same-day dry cleaning and laundry service upon request, with no extra charge.
                    </p>
                    <p>
                        We appreciate our customers and strive to give a little extra love in all that we do.
                    </p>
                </div>
            </div>
        </div>
    </aside>
</div>*@
<div class="section">
    <partial name="_LocationsPartial" />
</div>