@page "/boise-leather-suede-cleaning"
@model BA.BairdsDryCleaners.Pages.LeatherSuedeModel
@{
    ViewData["Title"] = "Boise Leathers & Suedes & Cleaning";
    ViewData["Description"] = "Leathers, &amp; Suedes. Your local leather expert since 1975, Baird's handles all your leather & suedes cleaning and care. We do it all,...";
    ViewData["Keywords"] = "dry cleaners, leathers, suede, coats, boise, idaho, meridian, eagle";
    ViewData["CanonicalURL"] = "https://bairdsdrycleaners.com/boise-leather-suede-cleaning";
}
<div class="section leather-suede-amp">
    <div class="inner">
        <div id="border">
            <h1 class="large">
                Leathers &amp; Suedes
            </h1>
            <p>
                Your local leather expert since 1975, Baird's handles all your leathers & suedes cleaning and care. We do it all, from leather coats to chaps, leather purses & gloves. Feel comfortable in knowing your items stay local and are handled by a trained and experienced expert.
            </p>
            <ul>
                <li>
                    Jackets &amp; Coats
                </li>
                <li>
                    Chaps, Pants, Skirts &amp; Dresses
                </li>
                <li>
                    Purses &amp; Gloves
                </li>
                <li>
                    Alterations &amp; Repairs
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="section" id="leather-1">
    <div class="inner">
            <div class="content-contained">
                <div>
                    <h2 class="large">
                        Over 40 Years of Leather Cleaning Experience
                    </h2>
                    <div class="text-container">
                        <p class="shadow">
                            We handle all leather items, from handbags to leather jackets. Has your favorite garment seen better days? Bring it in to Baird's and our experienced team will work diligently to bring it back to life!
                        </p>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="section" id="leather-2">
    <div class="inner">
            <div class="content-contained">
                <div>
                    <h2 class="large">
                        Not Just Leather Cleaning
                    </h2>
                    <div class="text-container">
                        <p>
                            Not only can we clean your leather items, we also repair damage. We can do a variety of repairs. Anything from fixing rips and tears, or replacing buttons, snaps, clasps, and zippers. Discuss your repair needs with one of our experts today!
                        </p>
                    </div>
                </div>
            </div>
    </div>
</div>
<partial name="_LocationsPartial" />
