@page "/thank-you-employment"
@model BA.BairdsDryCleaners.Pages.ThankYouEmploymentModel
@{
    ViewData["Title"] = "ThankYouEmployment";
}
<div class="section thank-you">
    <div class="inner">
        <div id="border">
            <h1>
                Thank You for Filling Out Our Application Form!
            </h1>
            <p>
                If you have any questions feel free to contact us!
            </p>
        </div>
    </div>
</div>
<partial name="_LocationsPartial" />'