@page "/thank-you"
@model BA.BairdsDryCleaners.ThankYouModel
@{
    ViewData["Title"] = "Thank You";
}
<div class="section thank-you">
    <div class="inner">
        <div id="border">
            <h1>
                Thank You for Contacting Baird's Dry Cleaning
            </h1>
            <p>
                We will contact you shortly.
            </p>
        </div>
    </div>
</div>
<partial name="_LocationsPartial" />'