@page "/boise-wedding-gown-cleaning"
@model BA.BairdsDryCleaners.Pages.WeddingGownsModel
@{
    ViewData["Title"] = "Boise Wedding Gowns Cleaning";
    ViewData["Description"] = "Wedding Gowns - Cleaned and Preserved. We are trained and experienced in the latest methods of carefully cleaning all types of wedding gowns,...";
    ViewData["Keywords"] = "dry cleaners, wedding gowns, cleaning, boise, idaho, meridian, eagle";
    ViewData["CanonicalURL"] = "https://bairdsdrycleaners.com/boise-wedding-gown-cleaning";
}
<div class="section wedding-gowns">
    <div class="inner">
        <div id="border">
            <h1 class="large">
                Wedding Gowns - Cleaned and Preserved
            </h1>
            <p>
                We are trained and experienced in the latest methods of carefully cleaning all types of wedding gowns, also incorporating a three-step inspection process to ensure the highest quality. You have enough to worry about in planning a wedding.  Know your gown will be ready for your special day.
            </p>
            <p>
                After the wedding, preserve your gown for a lifetime. We offer state-of-the-art technology with our MuseumStyle &trade; boxes. These offer a great deal of benefits and help provide you with superior preservation quality for years to come.  Everything is done in our facility, so we can ensure excellence.
            </p>
        </div>
    </div>
</div>
<div class="section white" id="wedding-1">
    <div class="inner">
        <div class="content-contained">
            <div class="content-contained">
                <div>
                    <h2 class="large">
                        Wedding Gown Cleaning
                    </h2>
                    <div class="text-container">
                        <p>
                            Baird's is proficient in the latest cleaning methods for all types, shapes, and sizes of wedding gowns. Make sure your gown is cleaned and ready to go for your wedding day. Let us help you look and feel fantastic on your special day!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" id="wedding-2">
    <div class="inner">
        <div class="content-contained">
            <div class="content-contained left">
                <div>
                    <h2 class="large">
                        Preserve Your Gown
                    </h2>
                    <div class="text-container">
                        <p>
                            Keep your gown looking new for a lifetime with our MuseumStyle &trade; Box. These boxes are equipped with state-of-the-art moisture and oxygen control technology. Oxidation causes ‘yellowing' of the fabric, but traditional boxes do not protect against this. Our advanced system guarantees that your gown will look just as good as it did, the day you wore it. Every part of this process is done locally, in our own facility.
                            <br />
                            <img class="preservation" src="/images/preservation.jpg" alt="Wedding Gown Preservation">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_LocationsPartial" />
