<div class="container">
    <div class="row">
        <div class="col-12 content-wide">
            <h2 class="large">
                Our Locations
            </h2>
            <div class="row align-center">
                <div class="col-md-4 p-3" style="display: inline-block; padding:5px;">
                    <img src="/images/w-state.jpg" alt="Bairds on State St">
                    <br />
                    1776 W State St
                    <br />
                    Boise, ID 83702
                    <br />
                    (208) 342-4504
                    <br />
                    <a href="https://goo.gl/maps/bMUnknupxEE2">Map and Directions</a>
                </div>
                <div class="col-md-4 p-3" style="display: inline-block; padding:5px;">
                    <img src="/images/bairds-fairview.jpg" alt="Bairds on Fairview"><br />
                    5702 W Fairview Ave
                    <br />
                    Boise, ID 83706
                    <br />
                    (208) 377-1550
                    <br />
                    <a href="https://goo.gl/maps/2jt2eFqKvjt">Map and Directions</a>
                </div>
                <div class="col-md-4 p-3" style="display: inline-block; padding:5px;">
                    <img src="/images/bairds-chinden.jpg" alt="Bairds on Chinden Blvd"><br />
                    13371 Chinden Blvd
                    <br />
                    Boise, ID 83713
                    <br />
                    (208) 938-2583
                    <br />
                    <a href="https://goo.gl/maps/uFDQfxdpowr">Map and Directions</a>
                </div>
            </div>
        </div>
    </div>
</div>